<% @userforms.each do |user| %>
    <div class="border-text">
        <h1>Имя: <%= user[:name] %></h1>
        <small>Фамилия: <%= user[:surname] %></small><br>
        <a href="<%= user_form_path(user) %>"><button class="btn btn-info">Просмотр</button></a>
        <hr>
    </div>
<% end %>
